Checks: > 
    clang-diagnostic-*, 
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    google-*,
    performance-*,
    readability-*,
    -readability-identifier-length,
    -readability-isolate-declaration
