BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80

Language: Cpp 
Standard: c++20
AlignOperands: true 
AllowShortLambdasOnASingleLine: Inline
AllowShortFunctionsOnASingleLine: Inline
AlignTrailingComments: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
EmptyLineBeforeAccessModifier: Always
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
