BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80

Language: Cpp 
Standard: c++20

AlignOperands: true 
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive

AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
EmptyLineBeforeAccessModifier: Always
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
BinPackArguments: false
BinPackParameters: false

BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakStringLiterals: true

IncludeBlocks: Regroup

IndentPPDirectives: BeforeHash
IndentRequiresClause: true

InsertBraces: true
InsertTrailingCommas: Wrapped
QualifierAlignment: Left
RequiresClausePosition: OwnLine

PenaltyBreakAssignment: 0
PenaltyBreakTemplateDeclaration: 0
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakOpenParenthesis: 0
